services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    networks:
      - exercice1

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - exercice1

networks:
  exercice1:
    driver: bridge